<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="portable-net40+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.8" targetFramework="portable-net40+sl50+win+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="portable-net40+sl50+win+wp80" />
</packages>